body {
    height: 100vh;
    margin: 0 auto;
    font-family: Roboto;
    color: rgb(248, 248, 248);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.block {
    width: 500px; 
    margin: 20px auto;
    padding: 50px 30px 20px 30px;
    box-sizing: border-box;
    background: linear-gradient(25deg, rgb(255, 28, 115), rgb(255, 140, 32), rgb(255, 230, 0));
    border-radius: 5px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}
.cold {
    background: linear-gradient(25deg, rgb(255, 28, 115), rgb(160, 43, 238), rgb(41, 94, 209));
}
p {
    font-family: Roboto;
    font-size: 14px;
    color: rgb(150, 150, 150);
    text-align: center;
}
.block .h1 {
    font-size: 35px;
    text-align: center;
    text-shadow: 3px 0px 10px rgba(0, 0, 0, .3);
    margin-bottom: 40px; 
    letter-spacing: 1px;
}
.block .note {
    display: flex;
    margin-bottom: 30px;
    border-radius: 40px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
}
.block .inp {
    flex: 3;
    padding: 9px 14px 12px 14px;
    border-top: 3px solid rgb(248, 248, 248);
    border-bottom: 3px solid rgb(248, 248, 248);
    border-left: 3px solid rgb(248, 248, 248);
    border-radius: 40px 0 0 40px;
    background-color: rgb(248, 248, 248);
}
.block .inp #city-input {
    font-size: 25px;
    color: rgb(68, 68, 68);
    padding: 2px;
    background-color: rgb(248, 248, 248);
    width: 100%;
    height: 100%;
    border: none;
}
.block input:focus {
    outline: none;
}
.block input:required {
    outline: none;
    box-shadow: none;
}
.block input::placeholder {
    color: rgb(184, 184, 184);
    }
.block .btn {
    flex: 1;
    border: 2px solid rgb(248, 248, 248);
    border-radius: 0 40px 40px 0;
    background: transparent;
    color: rgb(248, 248, 248);
    font-size: 25px;
    padding-bottom: 5px;
    text-shadow: 3px 0px 10px rgba(0, 0, 0, .3);
}
.block .btn:focus {
    outline: none;
}
.block .btn:hover {
    cursor: pointer;
}
.block .btn:active {
    border: 0px solid rgb(248, 248, 248);
}
.block .outp {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0 20px 0;
    border-radius: 40px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
    padding: 20px 0;
}
.block .city {
    font-size: 35px;
    margin-bottom: 10px;
}
.block .tem {
    font-size: 60px;
    padding-left: 4.5%;
}
.block .icon_desc {
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.block .icon {
    width: 40px;
    margin-right: 10px;
}
.block img {
    width: 100%;
}
.block .desc {
    font-size: 14px;
}
@media (max-width: 540px) {
    .block {
        width: 100%;
        margin: 0 auto;
        border-radius: 0;
    }
}